.DS_Store
node_modules
/build
/package
.env
.env.*
!.env.example
/.direnv
/.direnv/bin
/.direnv/*
/.direnv*
tailwindcssss

/target

/crates/**/target

# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target
