.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/.direnv
/.direnv/bin
/.direnv/*
/.direnv*

# Added by cargo

/target


# Added by cargo
#
# already existing elements were commented out

#/target
