@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

.fade {
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0; /* Remove default margin */
  font-family: "Iosevka Regular", "Neue Montreal Medium", sans-serif;
  font-weight: 600;
  min-height: 100vh; /* Ensure body covers full viewport */
}

h1,
h2,
h3,
h4 {
  font-family: "Tusker Grotesk", sans-serif;
}

footer {
  flex-shrink: 0; /* Prevent footer from shrinking */
}

@font-face {
  font-family: "Iosevka Regular"; /* Give your font a name */
  src: url("Iosevka-Regular.ttf") format("truetype");
  font-weight: 600; /* Specify the weight (e.g., normal, bold) */
  font-style: normal; /* Specify the style (e.g., normal, italic) */
  font-display: swap;
  letter-spacing: 0em;
}

@font-face {
  font-family: "Tusker Grotesk"; /* Give your font a name */
  src: url("TuskerGrotesk-4500Medium.ttf") format("truetype");
  font-weight: 600; /* Specify the weight (e.g., normal, bold) */
  font-style: normal; /* Specify the style (e.g., normal, italic) */
  font-display: swap;
  letter-spacing: 0em;
}

@font-face {
  font-family: "Neue Montreal Medium"; /* Give your font a name */
  src: url("neue-montreal-v2-0-medium.ttf") format("truetype");
  font-weight: 600; /* Specify the weight (e.g., normal, bold) */
  font-style: normal; /* Specify the style (e.g., normal, italic) */
  font-display: swap;
  letter-spacing: 0em;
}

@font-face {
  font-family: "Neue Montreal Mono"; /* Give your font a name */
  src: url("pp-neue-montreal-mono-book.ttf") format("truetype");
  font-weight: 600; /* Specify the weight (e.g., normal, bold) */
  font-style: normal; /* Specify the style (e.g., normal, italic) */
  font-display: swap;
  letter-spacing: 0em;
}

.font-neue-montreal-medium {
  font-family: "Neue Montreal Medium";
}

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: inline;
}

::-webkit-scrollbar {
  width: 5;
  height: 8;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(219, 223, 229, 0.5);
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #f58a07;
  border-radius: 100vh;
}
