@import "tailwindcss";
@plugin '@tailwindcss/typography';

@source "src/**/*.rs";
@source "templates/**/*.{html,js}";
@source "static/**/*.{html,js}";

@theme {
  --color-bright-color: #dbdfe5;
  --color-background-color: #1e242c;
  --color-primary-color: #f58a07;
  --color-secondary-color: #3f826d;
  --color-accent-color: #bc6c25;
  --color-shade-color: #323c49;
}

@utility prose-theme {
  --tw-prose-body: #dbdfe5;
  --tw-prose-headings: #dbdfe5;
  --tw-prose-lead: #dbdfe5;
  --tw-prose-links: #f58a07;
  --tw-prose-bold: #dbdfe5;
  --tw-prose-counters: #f58a07;
  --tw-prose-bullets: #f58a07;
  --tw-prose-hr: #f58a07;
  --tw-prose-quotes: #dbdfe5;
  --tw-prose-quote-borders: #f58a07;
  --tw-prose-captions: #52796f;
  --tw-prose-code: #354f52;
  --tw-prose-pre-code: #cad2c5;
  --tw-prose-pre-bg: #2f3e46;
  --tw-prose-th-borders: #cad2c5;
  --tw-prose-td-borders: #cad2c5;
}

.fade {
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0; /* Remove default margin */
  font-family: "Iosevka Regular", sans-serif;
  font-weight: 600;
  min-height: 100vh; /* Ensure body covers full viewport */
}

h1,
h2,
h3,
h4 {
  font-family: "Tusker Grotesk", sans-serif;
}

footer {
  flex-shrink: 0; /* Prevent footer from shrinking */
}

@font-face {
  font-family: "Iosevka Regular"; /* Give your font a name */
  src: url("Iosevka-Regular-subset.woff2") format("truetype");
  font-weight: 600; /* Specify the weight (e.g., normal, bold) */
  font-style: normal; /* Specify the style (e.g., normal, italic) */
  font-display: swap;
  letter-spacing: 0em;
}

@font-face {
  font-family: "Tusker Grotesk"; /* Give your font a name */
  src: url("TuskerGrotesk-subset.woff2") format("truetype");
  font-weight: 600; /* Specify the weight (e.g., normal, bold) */
  font-style: normal; /* Specify the style (e.g., normal, italic) */
  font-display: swap;
  letter-spacing: 0em;
}

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: inline;
}

::-webkit-scrollbar {
  width: 5;
  height: 8;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(219, 223, 229, 0.5);
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #f58a07;
  border-radius: 100vh;
}

details[open] summary::marker {
  color: #f58a07;
}
