{% block content %}

<div
  id="article"
  class="flex flex-col w-full h-full items-center pb-7 pt-24 sm:pt-28 px-10 gap-4"
>
  <div class="flex w-full">
    <button
      class="cursor-pointer self-center"
      hx-get="/articles"
      hx-swap="outerHTML"
      hx-target="#article"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
        />
      </svg>
    </button>
    <span class="text-9xl font-tusker pl-10">{{ title|safe }}</span>
  </div>

  <div
    class="flex flex-col w-full h-full gap-16 justify-center items-center px-10 pt-10"
  >
    <div class="h-full w-full overflow-scroll flex flex-col gap-2">
      {% for content in contents %} {% if loop.index % 2 != 0 %}
      <span class="justify-self-start self-start">{{ content|safe }}</span>
      {% else %}
      <span class="justify-self-end self-end">{{ content|safe }}</span>
      {% endif %} {% endfor %}
    </div>
    <div class="flex gap-4 font-migra-regular">
      <span>Gustavo Lee</span>
      <span>-</span>
      <span>{{date}}</span>
    </div>
  </div>
</div>

{% endblock %}
