<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FFF" />
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <script src="/_static/htmx.min.js"></script>
    <script defer src="/_static/alpine.min.js"></script>

    <link rel="stylesheet" href="/_static/compiled.css" />
    <link rel="icon" type="image/x-icon" href="/_static/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="manifest" href="/_static/manifest.json" />

    <meta
      name="description"
      content="My personal web page, built with Rust + HTMX"
    />
    <meta name="view-transition" content="same-origin" />
  </head>

  <body hx-boost="true" class="h-full w-full">
    <div class="min-h-screen w-svw bg-white overflow-hidden grid grid-cols-6">

      <!-- Navbar -->
      <nav class="flex w-full justify-center items-center p-4 col-span-6 border-b-2 border-gray-900">
          <div class="flex w-full justify-around font-bold p-2 text-gray-900">
              <a href="/" class="hover:text-orange-600 mx-2">{{translator.get_translation("Me")}}</a>
              <a href="/articles" class="hover:text-orange-600 mx-2">{{translator.get_translation("News")}}</a>
              <a href="/experience" class="hover:text-orange-600 mx-2">{{translator.get_translation("Experience")}}</a>
              <a href="/contact" class="hover:text-orange-600 mx-2">{{translator.get_translation("Contact")}}</a>
          </div>
      </nav>

      <!-- Blurred Gradient Blob -->
      <!-- <div class="col-start-1 col-span-1 absolute left-0 bottom-0 blob-1 animate-blob-1">
      </div>

      <div class="col-start-7 col-span-1 blur-3xl">
        <div class="absolute right-0 top-0 blob-2 animate-blob-2">
        </div>
      </div> -->

      <!-- Main Content -->
      <div id="content" class="min-h-screen w-full col-start-1 col-end-6 border-r-2 border-gray-900">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
