<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FFF" />
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <script src="/_static/htmx.min.js"></script>
    <script defer src="/_static/alpine.min.js"></script>

    <link rel="stylesheet" href="/_static/compiled.css" />
    <link rel="icon" type="image/x-icon" href="/_static/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />

    <link rel="manifest" href="/_static/manifest.json" />

    <meta
      name="description"
      content="My personal web page, built with Rust + HTMX"
    />
    <meta name="view-transition" content="same-origin" />
  </head>

  <body hx-boost="true"
        class="h-full w-full"
        :class="dark ? 'dark' : 'light'"
        x-data="{ dark: false }">
    <div id="content" class="min-h-screen w-full bg-white dark:bg-black">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
