<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#FFF" />
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <script src="/_static/htmx.min.js"></script>
    <script defer src="/_static/alpine.min.js"></script>

    <link rel="stylesheet" href="/_static/compiled.css" />
    <link rel="icon" type="image/x-icon" href="/_static/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="manifest" href="/_static/manifest.json" />

    <meta
      name="description"
      content="My personal web page, built with Rust + HTMX"
    />
    <meta name="view-transition" content="same-origin" />
  </head>

  <body hx-boost="true" class="h-full w-full bg-neutral-900">
    <!-- Main Content -->
    <main>
      <div id="content" class="min-h-full min-w-full">
        {% block content %}{% endblock %}
      </div>
    </main>
    <footer class="bg-transparent text-white p-4 z-10">
      <div class="container mx-auto text-center">
        <p>strength bends to kindness.</p>
      </div>
    </footer>
  </body>
</html>
