<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{APPNAME}}</title>
    <script src="/_static/htmx.min.js"></script>

    <link rel="stylesheet" href="/_static/compiled.css" />
    <link rel="icon" type="image/x-icon" href="/_static/favicon.ico" />

    <link rel="manifest" href="/_static/manifest.json" />

    <meta
      name="description"
      content="My personal digital garden, built with Rust + HTMX"
    />
    <meta name="view-transition" content="same-origin" />
  </head>
  <body class="w-full h-dvh bg-[#2f3e46] text-[#cad2c5]" hx-boost="true">
    <div class="w-full flex justify-items-stretch justify-between p-2">
      <span> WELCOME HELLO GUS TEXT PLACEHOLDER FOO BAR </span>
      <input
        class="bg-white text-black px-2 py-1 rounded"
        type="text"
        name="query"
        placeholder="Search..."
        hx-get="/search"
        hx-vals='{"limit": 100}'
        hx-trigger="input changed delay:300ms, keyup[key=='Enter']"
        hx-target="#list-section"
        hx-swap="innerHTML"
      />
    </div>
    <div class="flex flex-row px-4 border-t border-[#cad2c5]/30">
      <div
        id="list-section"
        class="h-screen flex-grow border-r border-[#cad2c5]/30 pt-2"
        hx-target="#list-section"
        hx-swap="innerHTML"
      >
        <div
          hx-get="/search?query=*&limit=100"
          hx-trigger="load"
          hx-target="#list-section"
        >
          Loading...
        </div>
      </div>
      <div class="flex flex-row w-3/4 lg:w-4/5 pt-2">
        <div
          id="content-section"
          class="prose prose-invert prose-earthy lg:w-2/3 px-4"
          hx-target="#content-section"
          hx-swap="innerHTML"
        >
          {{CONTENT}}
        </div>
        <div id="right-section" class="lg:flex-grow hidden lg:block">
          Right column
        </div>
      </div>
    </div>
  </body>
</html>
