{% extends "base.html" %} {% block title %}Gustavo Lee{% endblock %} {% block
content %}

<div class="w-full h-full">
  <div class="w-full h-screen">
    <div class="sticky top-0 px-8 bg-black/10 backdrop-blur-[2px] h-12 sm:h-14">
      <nav
        id="navbar"
        class="flex justify-between overflow-hidden items-center border-white/50 border-b w-full h-full"
      >
        <a href="/" class="block font-roslindale-black">Gustavo Lee</a>
        <span class="tracking-tight block">FULLSTACK ENGINEER</span>
        <a href="#contact" class="block"
          >{{translator.get_translation("Contact")}}</a
        >
      </nav>
    </div>
    <div
      class="flex flex-col justify-end w-1/2 h-full font-tusker text-[30vh] text-balance pl-7 leading-none"
    >
      <span>FULLSTACK</span>
      <span>ENGINEER</span>
    </div>
  </div>
</div>
{% endblock %}
