{% extends "base.html" %} {% block title %}Gustavo Lee{% endblock %} {% block
content %}

<div class="w-full h-full">
  <div
    class="fixed w-full top-0 px-4 sm:px-7 bg-black/10 backdrop-blur-[2px] h-14"
  >
    <nav
      id="navbar"
      class="flex justify-between overflow-hidden items-center border-white/50 border-b w-full h-full"
    >
      <a href="/" class="block font-roslindale-black">Gustavo Lee</a>
      <span class="tracking-tight hidden sm:block">WELCOME</span>
      <div class="flex flex-row gap-1">
        <a href="#about" class="block hover:line-through"
          >{{translator.get_translation("Me")}},</a
        >
        <a href="#work" class="block hover:line-through"
          >{{translator.get_translation("Work")}},</a
        >
        <a href="#contact" class="block hover:line-through"
          >{{translator.get_translation("Contact")}}</a
        >
      </div>
    </nav>
  </div>

  <div
    class="w-full h-screen flex flex-col sm:bg-[url('portfolio_wallpaper.png')] sm:bg-cover sm:bg-center sm:bg-no-repeat"
  >
    <!--   Mobile Screen -->
    <div class="flex flex-col sm:hidden pt-14">In Progress</div>
    <!--   Bigger screens -->
    <div
      class="hidden sm:flex flex-row h-full w-full justify-between items-end"
    >
      <div
        class="flex flex-col justify-end w-1/2 font-tusker text-[clamp(2rem,20vw,15rem)] text-balance pl-4 sm:pl-7 pb-4 sm:pb-7 leading-none"
      >
        <span class="inline-block pt-[2vh] -mb-[2vh]">FULLSTACK</span>
        <div class="flex w-full h-full items-end">
          <span class="inline-block pt-[2vh] -mb-[2vh]">DEVELOPER</span>
          <span
            class="hidden lg:inline-block font-roslindale-black text-3xl xl:text-4xl text-start"
            >& guitarist</span
          >
        </div>
      </div>
      <div
        id="about"
        class="w-1/2 md:w-1/3 h-full flex justify-end items-end leading-4 pr-4 sm:pr-7 pb-7"
      >
        <span class="text-lg sm:text-xl md:text-2xl xl:text-4xl text-right">
          {{translator.get_translation("SelfDescription")}}
        </span>
      </div>
    </div>
  </div>
  <div id="about" class="h-screen">
    <div class="flex flex-row h-full w-full justify-between items-end">
      <div
        class="hidden sm:flex flex-col justify-end w-1/2 font-tusker sm:text-[20vw] md:text-[25vw] text-balance pl-4 sm:pl-7 pb-4 sm:pb-7 leading-none"
      >
        <span class="inline-block pt-[2vh] -mb-[2vh]">FULLSTACK</span>
        <span class="inline-block pt-[2vh] -mb-[2vh]">DEVELOPER</span>
      </div>
      <div
        id="about"
        class="w-1/2 md:w-1/3 h-full flex justify-end items-end leading-4 pr-4 sm:pr-7 pb-7"
      >
        <span class="text-lg sm:text-xl md:text-2xl md:text-right">
          {{translator.get_translation("SelfDescription")}}
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
