{% extends "base.html" %} {% block title
%}{{translator.get_translation("GustavoLee")}}{% endblock %} {% block content %}

<div class="w-full h-full py-24 sm:py-32">
  <div class="background">
    <span
      class="bg-gradient-to-r from-[#6a11cb] via-[#2575fc] to-[#48b1bf] blur-xl"
    ></span>
    <span class="bg-gradient-to-r from-[#4A00E0] to-[#8E2DE2] blur-xl"></span>
    <span
      class="bg-gradient-to-r from-[#6a11cb] via-[#2575fc] to-[#48b1bf] blur-xl"
    ></span>
    <span class="bg-gradient-to-r from-[#4A00E0] to-[#8E2DE2] blur-xl"></span>
    <span
      class="bg-gradient-to-r from-[#6a11cb] via-[#2575fc] to-[#48b1bf] blur-xl"
    ></span>
    <span class="bg-gradient-to-r from-[#4A00E0] to-[#8E2DE2] blur-xl"></span>
    <span class="bg-gradient-to-r from-[#4A00E0] to-[#8E2DE2] blur-xl"></span>
    <span
      class="bg-gradient-to-r from-[#6a11cb] via-[#2575fc] to-[#48b1bf] blur-xl"
    ></span>
    <span class="bg-gradient-to-r from-[#4A00E0] to-[#8E2DE2] blur-xl"></span>
    <span
      class="bg-gradient-to-r from-[#6a11cb] via-[#2575fc] to-[#48b1bf] blur-xl"
    ></span>
    <span class="bg-gradient-to-r from-[#4A00E0] to-[#8E2DE2] blur-xl"></span>
    <span
      class="bg-gradient-to-r from-[#6a11cb] via-[#2575fc] to-[#48b1bf] blur-xl"
    ></span>
    <span class="bg-gradient-to-r from-[#4A00E0] to-[#8E2DE2] blur-xl"></span>
    <span
      class="bg-gradient-to-r from-[#6a11cb] via-[#2575fc] to-[#48b1bf] blur-xl"
    ></span>
    <span class="bg-gradient-to-r from-[#4A00E0] to-[#8E2DE2] blur-xl"></span>
    <span
      class="bg-gradient-to-r from-[#6a11cb] via-[#2575fc] to-[#48b1bf] blur-xl"
    ></span>
  </div>
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8 isolate">
    <p
      class="mx-auto mt-2 max-w-lg text-balance text-center font-semibold tracking-tight text-gray-100"
    >
      {{translator.get_translation("GustavoLee")}}
    </p>
    <h2 class="text-center text-base/10 font-semibold text-gray-100">
      {{translator.get_translation("SoftwareEngineerTitle")}}
    </h2>
  </div>
</div>

{% endblock %}
